@import "~bootstrap/scss/bootstrap";

$primary-color: white;
$bg: #191919;
$header: #D20A32;

$sizeFont: 16px;
$sizeHeader: 48px;
$sizeTitle: 24px;

body {
  background-color: $bg;
  font-size: $sizeFont;
  letter-spacing: 0.5px;
  color: $primary-color;
}

h1 {
  color: $primary-color;
  font-size: $sizeHeader;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  color: $header;
  font-weight: bold;
}

h3 {
  color: $primary-color;
  font-size: $sizeTitle;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search {
  position: relative;
  border: 1px solid $primary-color;
  height: 40px;
  background: transparent;
  width: 280px;
  border-radius: 50px;
  padding-left: 45px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: $sizeFont;
  color: #555;
  &:focus {
    outline: none;
    color: $primary-color;
  }
}

.header {
  text-decoration: none;
  position: relative;
  color: $header;
  font-size: $sizeHeader;
  font-weight: bold;
  padding-bottom: 5px;
  
  &:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: $header;
    transition: 0.2s;
  }

  &:hover {
    color: $header;
  }

  &:hover:after {
    width: 100%;
  }
  
  &.block {
    display: block;
    padding: 0.5em;
  }
}

.platformSelect {
  background-color: $header;
  color: white;
  padding: 5px 40px 5px 20px;
  border: none;
  font-size: 22px;
  font-weight: light;
};

.cardGame {
  height: 300px;
  width: 27vw;
}

.cardGameImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img__wrap {
  position: relative;
  height: 210px;
  width: 25vw;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  background: $bg;
  color: $primary-color;
  visibility: hidden;
  opacity: 0;
  font-size: 18px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.tag {
  font-size: 12px;
}

.redLine {
  height: 10px;
  width: 139px;
  border: 1px solid black;
  clear: both;
  background-color: $header;
  margin-bottom: 20px;
}

.showMore {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

footer {
  margin-top: 80px;
}

.nextBtn {
  height: 50px;
  width: 225px;
  border: 1px solid black;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $header;
  color: $primary-color;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.hidden {
  display: none;
}

.icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

#searchIcon {
  margin-right: -40px;
}

.background {
  position: relative;
  width: 100vw;
  height: 65vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5vh;
}

#websiteBtn {
  position: absolute;
  text-decoration: none;
  bottom: 0;
  right: 0;
  margin-bottom: 4%;
  margin-right: 12%;
  background-color: $header;
  color: white;
  padding: 10px 10px 10px 20px;
  border: none;
  font-size: 22px;
  font-weight: light;
};

.play {
  margin-left: 60px;
}

.titleGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  color: $header;
  font-size: $sizeTitle;
  font-weight: bold;
  margin-right: 4%;
}

.info {
  margin-bottom: 0;
}

.buy {
  margin-top: 60px;
}

.storeLinks {
  text-decoration: none;
  position: relative;
  color: $primary-color;
  padding-bottom: 3px;
  line-height: 2.5;
  
  &:after {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: $header;
    transition: 0.2s;
  }

  &:hover {
    color: $primary-color;
  }

  &:hover:after {
    width: 100%;
  }
  
  &.block {
    display: block;
    padding: 0.5em;
  }
}

.screen {
  padding-right: 2vw;
  padding-left: 2vw;
}

.screenImg {
  height: 100%;
  width: 100%;
};

video {
  width: 40vwv !important;
  height: 555px;
}